@import "tailwindcss";

:root {
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  color-scheme: light;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e2e8f0; /* Gris medio descansado para matar el encandilamiento */
  color: #0f172a;            /* Texto casi negro para máximo contraste de lectura */
  min-height: 100vh;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}